<header class="header">
  <div class="header__info">
    <a href="#">
      <img src="images/logo.svg" alt="sneakers company logo" loading="lazy">
    </a>
    <nav class="header__navbar">
      <a href="#">collection</a>
      <a href="#">men</a>
      <a href="#">women</a>
      <a href="#">about</a>
      <a href="#">contact</a>
    </nav>
  </div>
  <div class="header__userInfo">
    @if (cartVisibility()) {
    <app-cart />
    }

    <div class="header__cartIconArea">
      <img src="images/icon-cart.svg" alt="cart icon" loading="lazy" class="header__cartIcon"
        (click)="toggleVisibility()">

      @if (productService.quantity() > 0) {
      <span class="header__cartFlag">{{productService.quantity()}}</span>
      }
    </div>

    <img src="images/image-avatar.png" alt="user profile photo" loading="lazy" class="header__userPhoto">
  </div>

</header>