<div class="container">
  <app-header />
</div>
<div class="container">
  <main class="main">
    <app-slider />
    <section class="section">
      <header class="section__header">
        <h4 class="section__h4Title">sneaker company</h4>
        <h1 class="section__h1Title">fall limited edition<br />sneakers</h1>
      </header>
      <div class="section__body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum vitae, repudiandae officiis, sunt aspernatur
          qui tenetur aut velit, fugit quasi temporibus! Cupiditate officiis ipsum obcaecati atque dicta harum, optio
          repellat quibusdam nemo illum consectetur adipisci id? Quos excepturi nisi mollitia natus beatae delectus
          ipsam assumenda!</p>

        <div class="section__priceArea">
          <header class="section__priceHeader">
            <span class="section__priceCurrent">$125.00</span>
            <span class="section__priceDiscountFlag">50%</span>
          </header>
          <small class="section__pricePrevious">$250.00</small>
        </div>
      </div>

      <div class="select-quantityArea">
        <div class="select-quantity__counter">
          <button (click)="decrementCounter()">&#45;</button>
          <span>{{productQuantity()}}</span>
          <button (click)="incrementCounter()">&#43;</button>
        </div>

        <app-primary-button text="add to cart" (handleClick)="addToCart()" />
      </div>
    </section>
  </main>
</div>